{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'post/css/styles.css' %}" rel="stylesheet">
  <title>ss</title>
</head>

<body>
    <div class="bg-image">
    <header>
       
        <div>
<h1> <a href="#" id="brand">Mohammad</a></h1>
        </div>
        <div>
        <a class="heder-items" href="">Home</a>
        <a class="heder-items" href="">Workes</a>
        <a class="heder-items" href="">Services</a>
        <a class="heder-items" href="">Pages</a>
        <a class="heder-items" href="">About</a>
        <a class="heder-items" href="">Blog</a>
        <a class="heder-items" href="">Contact</a>
    
                </div>
            <div>
<a href="" id="btn-talk">Let's Talks</a>
        </div>
    </header>

<div id="information">
<div>
    <p>
    <span style="color: white;font-size: 75px;">
        
       Hi Dear, 
    </span> 
    Iam Mohammad<br>
   I am a Python Developer.
    </p>
    <div class="works-parent">
        <a class="works" href="">Works</a>
    </div>
   

</div>
<div>
    <img src="{% static 'post/image/me.png'%}">
</div>
</div>
</div>
<section id="skills-section">
<h2>
    I’m a Creative director based on Neyshbur, who loves<br>
     clean, simple & unique design. I also enjoy crafting.
</h2>
<div id="skills-parents">

    <div class="paragraf">
<p>
    Proin laoreet elementum ligula, ac tincidunt lorem accumsan nec. Fusce eget urna ante.<br>
     Donec massa velit, varius a accumsan ac, tempor iaculis massa.<br>
      Sed placerat justo sed libero varius vulputate. Ut a mi tempus massa malesuada fermentum
      <BR>
        <BR>
            <BR>
</p>
<p>
    Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante.<br> 
    Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget
</p>
<div style="margin-top: 40px;">
    <a class="Download-cv" href="">Download cv</a>
</div>

    </div>
    <div class="skills">
        <div class="skills-progressbar">
            <h6>
                Wireframing
            </h6>
        <h6>
                    90%
        </h6>
        <progress id="Wireframing" value="90" max="100"></progress>
        <progress id="Wireframing" value="70" max="100"></progress>
        <progress id="Wireframing" value="45" max="100"></progress>
        </div>
    </div>
</section>

</div>

</body>
</html>