{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'post/css/styles.css' %}" rel="stylesheet">
  <title>ss</title>
</head>
<body>
    <div class="bg-image">
    <header>
       
        <div>
<h1> <a href="#" id="brand">Mohammad</a></h1>
        </div>
        <div>
        <a class="heder-items" href="">Home</a>
        <a class="heder-items" href="">Workes</a>
        <a class="heder-items" href="">Services</a>
        <a class="heder-items" href="">Pages</a>
        <a class="heder-items" href="">About</a>
        <a class="heder-items" href="">Blog</a>
        <a class="heder-items" href="">Contact</a>
    
                </div>
            <div>
<a href="" id="btn-talk">Let's Talks</a>
        </div>
    </header>

<div id="information">
<div>
    <p>
    <span style="color: white;font-size: 75px;">
        
       Hi Dear, 
    </span> 
    Iam Mohammad<br>
   I am a Python Developer.
    </p>
    <div class="works-parent">
        <a class="works" href="">Works</a>
    </div>
   

</div>
<div>
    <img src="{% static 'post/image/me.png'%}">
</div>
</div>
</div>
</body>
</html>