{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'post/css/styles.css' %}" rel="stylesheet"/>
    <title>Saeed Nabati</title>
</head>
<body>
    <div class="bg-image">
        <header>
            <div>
                <h1><a href="#" id="brand">Saeed</a></h1>
            </div>
            <div>
                <a class="header-items" href="#">Home</a>
                <a class="header-items" href="#">Works</a>
                <a class="header-items" href="#">Services</a>
                <a  class="header-items" href="#">Pages</a>
                <a  class="header-items" href="#">About</a>
                <a class="header-items" href="#">Blog</a>
                <a class="header-items" href="#">Contact</a>
            </div>
            <div>
                <a href="#" id="btn-talk">Let's Talk</a>
            </div>
        </header>
        <div id="information">
            <div>
                <p>
                    <span style="color: white;">
                        Hi There , I Am Saeed 
                    </span>
                    <br>
                    Creative Director
                </p>
                <div class="view-works-parent">
                    <a class="view-works" href="#">View Works</a>
                </div>
            </div>
            <div>
                <img src="{% static 'post/images/xmy_img.png.pagespeed.ic.2_sMuKVfmb.png' %}" alt="">
            </div>
        </div>
    </div>
    <section id="skills-section">
        <h2>I’m a Creative director based on New York, who loves<br> clean, simple & unique design. I also enjoy crafting</h2>
        <div id="skills-parent">
            <div class="skills-p">
                <p>
                    Proin laoreet elementum ligula, ac tincidunt lorem accumsan nec. Fusce eget urna ante. Donec massa velit, varius a accumsan ac, tempor iaculis massa. Sed placerat justo sed libero varius vulputate. Ut a mi tempus massa malesuada fermentum.
                </p><br><br><br>
                <p>
                    Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget
                </p>
            </div>
            <div class="skills">
                <div class="progress-bar">
                    <div class="skills-progressbar">
                        <h6>wireframing</h6>
                        <h6>
                            90%
                        </h6>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-value">

                            </div>
                        </div>
    
                    </div>
                    
                </div>
                <div class="progress-bar">
                    <div class="skills-progressbar">
                        <h6>wireframing</h6>
                        <h6>
                            90%
                        </h6>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-value">
                                
                            </div>
                        </div>
    
                    </div>
                    
                </div>
                <div class="progress-bar">
                    <div class="skills-progressbar">
                        <h6>wireframing</h6>
                        <h6>
                            90%
                        </h6>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-value">
                                
                            </div>
                        </div>
    
                    </div>
                    
                </div>
                <div class="progress-bar">
                    <div class="skills-progressbar">
                        <h6>wireframing</h6>
                        <h6>
                            90%
                        </h6>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-value">
                                
                            </div>
                        </div>
    
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>