
* {

  padding:0;
  margin:0;
}
.navbar{
  width: 100%;
  height: 60px;
  background-color:darkolivegreen;
  display: flex;
  justify-content: start;
  align-items: center;

}

.navar-item {

color:black;
font-size: 8px;
text-decoration:none;
margin: 35px;

}
